# LAB | Feature Engineering

**Load the data**

In this challenge, we will be working with the same Spaceship Titanic data, like the previous Lab. The data can be found here:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv

Metadata

https://github.com/data-bootcamp-v4/data/blob/main/spaceship_titanic.md

In [1]:
#Libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

**Check the shape of your data**

In [5]:
spaceship.shape

(8693, 14)

**Check for data types**

In [7]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

**Check for missing values**

In [10]:
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

There are multiple strategies to handle missing data

- Removing all rows or all columns containing missing data.
- Filling all missing values with a value (mean in continouos or mode in categorical for example).
- Filling all missing values with an algorithm.

For this exercise, because we have such low amount of null values, we will drop rows containing any missing value.

In [12]:
spaceship_c = spaceship.dropna()

print(spaceship_c.info())

<class 'pandas.core.frame.DataFrame'>
Index: 6606 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   6606 non-null   object
 1   HomePlanet    6606 non-null   object
 2   CryoSleep     6606 non-null   object
 3   Cabin         6606 non-null   object
 4   Destination   6606 non-null   object
 5   Age           6606 non-null   float64
 6   VIP           6606 non-null   object
 7   RoomService   6606 non-null   float64
 8   FoodCourt     6606 non-null   float64
 9   ShoppingMall  6606 non-null   float64
 10  Spa           6606 non-null   float64
 11  VRDeck        6606 non-null   float64
 12  Name          6606 non-null   object
 13  Transported   6606 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 729.0+ KB
None

- **Cabin** is too granular - transform it in order to obtain {'A', 'B', 'C', 'D', 'E', 'F', 'G', 'T'}

In [28]:
spaceship_c['Deck'] = spaceship_c['Cabin'].str[0]
unique_decks = sorted(spaceship_c['Deck'].unique())

print(unique_decks)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'T']

C:\Users\crist\AppData\Local\Temp\ipykernel_20136\4238559455.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  spaceship_c['Deck'] = spaceship_c['Cabin'].str[0]

- Drop PassengerId and Name

In [48]:
spaceship_c = spaceship.drop(columns=['PassengerId', 'Name'])

print(spaceship_c.head())

  HomePlanet CryoSleep  Cabin  Destination   Age    VIP  RoomService  \
0     Europa     False  B/0/P  TRAPPIST-1e  39.0  False          0.0
1      Earth     False  F/0/S  TRAPPIST-1e  24.0  False        109.0
2     Europa     False  A/0/S  TRAPPIST-1e  58.0   True         43.0
3     Europa     False  A/0/S  TRAPPIST-1e  33.0  False          0.0
4      Earth     False  F/1/S  TRAPPIST-1e  16.0  False        303.0

   FoodCourt  ShoppingMall     Spa  VRDeck  Transported
0        0.0           0.0     0.0     0.0        False
1        9.0          25.0   549.0    44.0         True
2     3576.0           0.0  6715.0    49.0        False
3     1283.0         371.0  3329.0   193.0        False
4       70.0         151.0   565.0     2.0         True

- For non-numerical columns, do dummies.

In [52]:
df_dummies = pd.get_dummies(spaceship_c, drop_first=True)

print(df_dummies.head())

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  Transported  \
0  39.0          0.0        0.0           0.0     0.0     0.0        False
1  24.0        109.0        9.0          25.0   549.0    44.0         True
2  58.0         43.0     3576.0           0.0  6715.0    49.0        False
3  33.0          0.0     1283.0         371.0  3329.0   193.0        False
4  16.0        303.0       70.0         151.0   565.0     2.0         True

   HomePlanet_Europa  HomePlanet_Mars  CryoSleep_True  ...  Cabin_G/999/P  \
0               True            False           False  ...          False
1              False            False           False  ...          False
2               True            False           False  ...          False
3               True            False           False  ...          False
4              False            False           False  ...          False

   Cabin_G/999/S  Cabin_T/0/P  Cabin_T/1/P  Cabin_T/2/P  Cabin_T/2/S  \
0          False        False        False        False        False
1          False        False        False        False        False
2          False        False        False        False        False
3          False        False        False        False        False
4          False        False        False        False        False

   Cabin_T/3/P  Destination_PSO J318.5-22  Destination_TRAPPIST-1e  VIP_True
0        False                      False                     True     False
1        False                      False                     True     False
2        False                      False                     True      True
3        False                      False                     True     False
4        False                      False                     True     False

[5 rows x 6572 columns]

**Perform Train Test Split**

In [58]:
X_dummies = df_dummies.drop(columns=['Transported'])
y_dummies = df_dummies['Transported']

X_train, X_test, y_train, y_test = train_test_split(X_dummies, y_dummies, test_size=0.2, random_state=42)

print("Training features shape:", X_train.shape)
print("Test features shape:", X_test.shape)
print("Training target shape:", y_train.shape)
print("Test target shape:", y_test.shape)

Training features shape: (6954, 6571)
Test features shape: (1739, 6571)
Training target shape: (6954,)
Test target shape: (1739,)

**Model Selection**

In this exercise we will be using **KNN** as our predictive model.

In [62]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

knn_classifier.fit(X_train_imputed, y_train)

print("KNN model has been fitted to the training data without missing values.")

KNN model has been fitted to the training data without missing values.

- Evaluate your model's performance. Comment it

In [64]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

y_pred = knn_classifier.predict(X_test_imputed)

accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

class_report = classification_report(y_test, y_pred)
print("\nClassification Report:\n", class_report)

conf_matrix = confusion_matrix(y_test, y_pred)
print("\nConfusion Matrix:\n", conf_matrix)

Accuracy: 0.76

Classification Report:
               precision    recall  f1-score   support

       False       0.78      0.73      0.75       861
        True       0.75      0.79      0.77       878

    accuracy                           0.76      1739
   macro avg       0.76      0.76      0.76      1739
weighted avg       0.76      0.76      0.76      1739


Confusion Matrix:
 [[627 234]
 [182 696]]

In [66]:
#Accuracy: This provides a quick insight of model performance.

#Precision and Recall: High precision indicates that the model makes few false positive errors, while high recall indicates it accounts for most of the true positives.